.nav{
	list-style-type: none;
	padding:0;
	justify-content: center;
	margin-left:170px;
	margin-top:-300px;}

.nav li {
	text-decoration:none;
	background-color:white;
	display:inline-block;
	padding:20px;                          
	//box-shadow:0px 0px 0px 3px #E5E4E2;
	border-radius:10px;
	margin:5px;}

.nav li a{font-weight:bold;
			//color:#0C3252;
			color:blue;}
	
.nav :hover{background:linear-gradient(10deg, #b3f0ff, #C9DFEC,#fff);
			letter-spacing:2px;
			font-style:italic;}
			
.dropbtn {background-color: #lightgrey;
			padding: 22px;
			color:#BF5458 ;
			font-size: 16px;
			border: none;
			cursor: grabbing;
			border-radius:10px;
			box-shadow:4px 4px #F34B50 ;
			letter-spacing:2px;
			font-weight:bold;
			margin-left:30px;}
			
.dropdown {
  position: relative;
  display: inline-block;}
 
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
 color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:15px;
  font-weight:bold;
}

.dropdown-content a:hover {background-color: #f1f1f1;
							color:#180026;
							letter-spacing:4px;
							font-weight:bold;}
							
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #BCC6CC;
							font-weight:bold;
							letter-spacing:5px;}
						
.login{margin-left:1180px;
		margin-top:-50px;}

.cart{background-color: #lightgrey;
		color: #BF5458 ;
		padding: 20px;
		border: none;
		cursor: grabbing;
		border-radius:10px;
		font-size:16px;
		box-shadow:4px 4px #F34B50 ;
		position:relative;
		font-weight:bold;
		letter-spacing:2px;}

.cart:hover{background-color:#BCC6CC;
			top:5px;
			left:10px;
			box-shadow:2px 2px;
			letter-spacing:3px;
			font-weight:bold;}

.search{margin-top:-120px;
		margin-bottom:320px;
		margin-left:600px;}

#searching[type=text] {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  text-align:center;
  background-position: 10px 10px; 
  margin-top:-300px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#searching:focus {
  width: 20%;
}

.logo{margin-top:10px;}